<div class="content-wrapper">

  <form *ngIf="sayisalForm" [formGroup]="sayisalForm">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label class="badge">Çekiliş Tarihi</label>
          <input placeholder="dd/mm/yyyy" type="date" dataformatas="dd/mm/yyyy"  formControlName="cekilisTarihi" class="form-control" />
        </div>
      </div>
      <div class="col-md-4">
        <input type="button" value="Search" class="btn-primary" (click)="search()">
      </div>
    </div>

  </form>
  <h3>{{ 'Sayısal List' | translate }}</h3>
  <ngx-datatable
    class="bootstrap"
    [rows]="rows"
    [columns]="cols"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [externalPaging]="true"
    [count]="page.totalElements"
    [offset]="page.page"
    [limit]="page.size"
    (page)='setPage($event)'>
  </ngx-datatable>

<ng-template #tplDateCell let-row="row" let-value="value">
  {{value | date: 'dd/MM/yyyy'}}
</ng-template>

</div>


